@import url('https://fonts.googleapis.com/css?family=Chivo:300,700|Playfair+Display:700i" rel="stylesheet');


body {
    background: #FFF;
    font-family: 'Cardo', serif;
    color: #111;
    text-align: center;
}

div, h1, h2, p, ul {
	margin: 0;
	padding: 0;
}
	
#poem { 
	margin: auto;
	padding: 20px 0;
	text-align: left;
	width: 390px;
}

h1 {
    color: #ffce00;
    font-size: 34pt;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase; 
    text-align: center;
    line-height: 1.2;
    margin-bottom: 5px;
}

h2 {
    color: #111;
    font-weight: normal;
    font-size: 10pt;
    font-family: 'Cardo', serif;
    text-align: center;
    margin-bottom: 30px;
}
     
p {
    line-height: 1.5;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    width: 200px;
    font-size: 14pt;
    text-align: left;
} 

img {
    max-width: 750px;
    max-height: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    margin-left: auto;
    margin-right: auto;
}
